header
{
    color: #000;
}
.ParkTypeList .container, .ParkTypeList .row, .ParkTypeList .col-sm-12
{
    padding: 0px;
}
.Park
{    
    height: auto;
   overflow: hidden;
   padding:20px;
   border:1px solid #ddd
}
/*List - start*/
.ParkTypeList .List
{
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 4px;
    
}
.ParkTypeList .List .ParkImage
{
    width: 250px;
    float: left;
}
.ParkTypeList .List .Info
{
    float: none; 
    width: auto;
    overflow: hidden;
}
.ParkTypeList .List .ParkImage img
{
    border-radius: 4px;
}
.ParkTypeList .List .ParkTitle
{
    font-size:18px;
    color:#444;
}
.ParkTypeList .List .Description
{
    font-size:11px;
    color:#888;
}
@media screen and (max-width: 910px)
{
    .ParkTypeList .List .ParkImage
    {
        width: 135px;
    }
    .ParkTypeList .List .ParkImage img
    {
        width: 125px;
    }
}
@media screen and (max-width: 610px)
{
    .ParkTypeList .List .ParkImage
    {
        width: 85px;
    }
    .ParkTypeList .List .ParkImage img
    {
        width: 75px;
    }
}
/*List - end*/
/*Gallery - start*/
.ParkTypeList .Gallery
{
    border-radius: 4px;    
}
.ParkTypeList .Gallery .ParkImage img
{
    border-radius: 4px;
}
@media screen and (max-width: 910px)
{
    .ParkTypeList .Gallery .ParkImage
    {
        width: 135px;
    }
    .ParkTypeList .Gallery .ParkImage img
    {
        width: 125px;
    }
}
@media screen and (max-width: 610px)
{
    .ParkTypeList .Gallery .ParkImage
    {
        width: 85px;
    }
    .ParkTypeList .Gallery .ParkImage img
    {
        width: 75px;
    }
}
/*Gallery - end*/
/*
  .ParkTypeList > div
  {
    
  }
  
  .ParkTypeList > div > .ParkTitle
  {
  }
  .ParkTypeList > div > .ParkTitle > .Description
  {
      font-size:11px;      
  }
  
  .ParkTypeList > div > .ParkImage
  {
  }
  
  .ParkTypeList .ParkImage img
  {
      width:100%;
      border-radius:4px;
      border:1px solid #269abc;
  }
  .ViewPark
  {
      
  }
  .ParkGallery > div
  {
      
  }
  
  .ParkTypeList .row
  {
      margin-bottom:10px;
      margin-left:0px;
      margin-right:0px;
  }
  .ParkTypeList .col-sm-4, .ParkTypeList .col-sm-6, .ParkTypeList .col-md-4, .ParkTypeList .col-md-6, .ParkTypeList .col-sm-12
  {
      
      padding:0;
  }
  .ParkTypeList .col-sm-12 
  {
      margin-bottom:10px;
  }
   .ParkTypeList .col-sm-12 .ParkImage img
   {
       max-width:auto;
        width:auto;
   }
  .ParkTypeList .Park
  {
      border:1px solid #ddd;
      border-radius:3px;
      margin-right:10px;
      height:232px;
      
      padding:10px;
      margin-bottom:20px;
  }
  
  .ParkTypeList .col-md-4:nth-child(3n) .Park, .ParkTypeList .col-sm-12 .Park{
    margin-right:0px;
}

.ParkImage
{
    float:left;
}
.ParkTitle
{
    background-color:#f1f1f1;
    padding:10px;
    margin-left:250px;
    border-radius:4px;
    height:100%;
    border:1px solid #ddd;
    font-size:18px;
}
.Description
{
    font-size:11px;
    color:#999;
}
.ViewPark
{
    text-align:right;
}
@media screen and (max-width: 910px) {
    .ParkTypeList .Park
    {
    }
    .ParkTypeList .ParkImage img
    {
        max-width:auto;
        width:auto;
    }
    .ParkTypeList .col-md-4:nth-child(3n) .Park{
    margin-right:10px;
}
    .ParkTypeList .col-md-4:nth-child(2n) .Park{
        margin-right:0px;
    }
}
*/